{% extends 'base.html' %}

{% block title %}List of your certificates{% endblock %}

{% block content %}
<h1>List of certficates that you requested</h1>

<div class="dropdown">
    <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Request new certificate
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'upload_csr' %}">Upload CSR</a>
        <a class="dropdown-item" href="{% url 'gen_csr' %}">Generate CSR</a>
    </div>
</div>

<table class="table table-hover">
    <tr><th>ID</th><th>Not before</th><th>Not after</th><th>CA</th></tr>
{% for cert in certificates %}
    <tr><td>{{ cert.id }}</td><td>PLACEHOLDER</td><td>PLACEHOLDER</td><td>{{ cert.ca }}</td></tr>
{% endfor %}
</table>
{% endblock %}